<footer>
    <div class="footer-container">
        <div class="top-footer-container">
            <div class="top-footer-flex">
                <div class="footer-navigation-menu">
                    <div class="footer-option">
                        <a href="/about-buca/" title="About Buca">About Buca</a>
                    </div>
                    <div class="footer-option">
                        <a href="/frequently-asked-question/" title="Contact Us">Contact Us</a>
                    </div>
                    <div class="footer-option">
                        <a href="https://locations.bucadibeppo.com/us" title="Locations">Locations</a>
                    </div>
                    <div class="footer-option">
                        <a href="/employment/" title="Careers">Careers</a>
                    </div>
                    <div class="footer-option">
                        <a href="https://blog.bucadibeppo.com/" title="Buca Blog">Buca Blog</a>
                    </div>
                </div>
                <div class="social-media-container">
                    <div class="social-media-icon">
                        <a href="https://www.facebook.com/bucadibeppo/" title="Follow Us On Facebook">
                            <img src="https://media-buca.s3.amazonaws.com/dev/homepage/facebook-white-icon.png" alt="facebook-icon">
                        </a>
                    </div>
                    <div class="social-media-icon">
                        <a href="https://twitter.com/BucadiBeppo" title="Follow Us On Twitter">
                            <img src="https://media-buca.s3.amazonaws.com/dev/homepage/twitter-white-icon.png" alt="twitter-icon">
                        </a>
                    </div>
                    <div class="social-media-icon" title="Follow Us On YouTube">
                        <a href="https://www.youtube.com/user/bucadibeppo">
                            <img src="https://media-buca.s3.amazonaws.com/dev/homepage/youtube-white-icon.png" alt="youtube-icon">
                        </a>
                    </div>
                    <div class="social-media-icon" title="Follow Us On Pinterest">
                        <a href="https://www.pinterest.com/bucadibeppo/">
                            <img src="https://media-buca.s3.amazonaws.com/dev/homepage/pinterest-white-icon.png" alt="pinterest-icon">
                        </a>
                    </div>
                    <div class="social-media-icon" title="Follow Us On Instagram">
                        <a href="https://www.pinterest.com/bucadibeppo/">
                            <img src="https://media-buca.s3.amazonaws.com/dev/homepage/instagram-white-icon.png" alt="instagram-icon"> 
                        </a>
                    </div>
                </div>
            </div>
            <div class="extra-nav-wrapper">
                <div class="extra-nav-menu">
                    <div class="footer-option-mini">
                        <a href="https://www.bucadibeppo.com/business-card-drop/" title="Business Card Drop">Business Card Drop</a>
                    </div>
                    <div class="footer-option-mini">
                        <a href="https://www.bucadibeppo.com/international-development-opportunities/" title="International Opportunities">International Opportunities</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-container">
            <div class="bottom-footer-flex">
                <div class="footer-content-flex">
                    <div class="footer-tab">
                        <a href="https://www.bucadibeppo.com/terms-conditions/">Terms & Conditions</a>
                    </div>
                    <div class="footer-tab">
                        <a href="https://www.bucadibeppo.com/privacy-policy/">Privacy Policy</a>
                    </div>
                    <div class="footer-tab">
                        <a href="https://www.bucadibeppo.com/privacy-policy/do-not-sell-my-peronsal-information/">Do Not Sell My Personal Information</a>
                    </div>
                    <div class="footer-tab">
                        <a href="https://www.bucadibeppo.com/coupon-redemption-policy/">Coupon Redemption Policy</a>
                    </div>
                    <div class="footer-tab">
                        <a href="https://www.bucadibeppo.com/accessibility/">Accessibility</a>
                    </div>
                </div>
                <div class="buca-copyright">
                    <p>&copy 2021 BUCA, Inc All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>