<footer>
    <div class="injury-firm-footer-container">
        <div class="footer-flex">
            <div class="injury-firm-footer-title">
                <p><span class="bold">Injury Law Firm</span> Houston</p>
            </div>
            <div class="phone-contact-footer-container">
                <div class="call-now">
                    <p>CALL NOW</p>
                </div>
                <div class="phone-number-header">
                    <p>888-123-4567</p>
                </div>
            </div>
        </div>
    </div>
</footer>