.injury-law-homepage-hero {
  background-image: url(https://media-personal-injury-site.s3.amazonaws.com/dev/homepage/heromobile320.png);
  background-repeat: no-repeat;
  padding-top: 40px;
  background-color: #203A42;
}
.injury-law-homepage-hero h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 39px;
  font-weight: 300;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 41px;
  width: 90%;
  margin: auto;
  margin-top: 120px;
}

.injury-law-homepage-hero p {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  color: #FFFFFF;
  letter-spacing: 0;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.injury-law-btn {
  background: #D58641;
  width: 250px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
}

.injury-law-btn:hover {
  background: #17282D;
  color: #fff;
  transition: 0.5s;
}

.white-hover:hover {
  background: #fff;
  color: #17282D;
  transition: 0.5s;
}

.personal-injury-content-container {
  width: 90%;
  margin: auto;
}
.personal-injury-content-container h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: #17282D;
  letter-spacing: 0;
  text-align: center;
  line-height: 38px;
  padding-bottom: 10px;
  border-bottom: 3px solid #D58641;
}

.personal-injury-content-container p {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0;
}

.finding-law-firm-img-mobile {
  width: 285px;
  margin: auto;
}
.finding-law-firm-img-mobile img {
  width: 285px;
  margin: auto;
}

.personal-injury-torts-section-container .personal-injury-content-container p {
  text-align: center;
}

.personal-injury-img {
  width: 105px;
  margin: auto;
}
.personal-injury-img img {
  width: 105px;
  margin: auto;
}

.personal-injury-icon-title p {
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

.personal-injury-torts-icon-container {
  padding-bottom: 30px;
}

.solid-bullets {
  width: 85%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.solid-bullets li {
  margin: 5px 0;
  position: relative;
  padding-top: 9px;
  line-height: 35px;
  color: #203A42;
  line-height: 30px;
  background-repeat: no-repeat;
  background-position-x: 12px;
  background-position-y: 23px;
}

.bullet-text {
  font-size: 21px;
  color: #000000;
  letter-spacing: 0;
  position: relative;
  bottom: 4px;
}

#page-form-outer-container {
  width: 300px;
  margin: auto;
}

.flex-input {
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
}

.input-container input {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  letter-spacing: 0;
  line-height: 28px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
}

.page-form input {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 3px;
  height: 32px;
  width: 95%;
}

.flex-input select {
  background: #FFFFFF;
  border: 1px solid #979797;
  border-radius: 3px;
  width: 300px;
  height: 32px;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  letter-spacing: 0;
  line-height: 28px;
  padding-left: 5px;
  font-family: "Open Sans", sans-serif;
}

.invalid, .valid {
  display: none;
  width: 30px;
  position: relative;
  bottom: 34px;
  right: 5px;
  margin-left: auto;
  margin-bottom: -34px;
}

.page-form .field textarea {
  background: #fff;
  border: 1px solid #979797;
  border-radius: 3px;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  letter-spacing: 0;
  line-height: 28px;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
}

.page-form-header {
  width: 300px;
  margin: auto;
  padding-top: 10px;
}
.page-form-header p {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 33px;
}

.homepage-form-container {
  background: #203A42;
  padding-bottom: 40px;
}

.gold-letters {
  color: #d58641;
}

.privacy-policy-content-container {
  width: 220px;
  margin: auto;
}
.privacy-policy-content-container p {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.finding-law-firm-img-desktop {
  display: none;
}

.gold-line {
  display: none;
}

.finding-law-firm-section-container, .personal-injury-lawsuits-section-container, .settlements-section-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.personal-injury-torts-section-container, .wrongful-death-claims-section-container, .statute-of-limitations-section-container {
  background: #F4F4F4;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 326px) {
  .injury-law-homepage-hero {
    background-image: url(https://media-personal-injury-site.s3.amazonaws.com/dev/homepage/heromobile.png);
    background-size: 100%;
  }
}
@media screen and (min-width: 700px) {
  .injury-law-homepage-hero {
    background-image: url(https://media-personal-injury-site.s3.amazonaws.com/dev/homepage/herotablet.png);
    background-size: cover;
  }

  .injury-law-homepage-hero h1 {
    font-size: 45px;
    font-weight: 300;
    line-height: 47px;
    margin: 0;
    padding-left: 20px;
    margin-top: 0px;
    width: 48%;
  }

  .injury-law-homepage-hero p {
    font-size: 21px;
    font-weight: 300;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 50%;
  }

  .injury-law-homepage-hero .btn-container {
    justify-content: left;
    margin-left: 4%;
  }

  .injury-law-homepage-hero .btn-container .injury-law-btn {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .finding-law-firm-img-mobile {
    display: none;
  }

  .finding-law-firm-img-desktop {
    display: block;
    width: 460px;
    margin: auto;
  }
  .finding-law-firm-img-desktop img {
    width: 460px;
    margin: auto;
  }

  .statute-of-limitations-section-container .personal-injury-content-container .finding-law-firm-img-desktop {
    width: 320px;
    margin: auto;
  }
  .statute-of-limitations-section-container .personal-injury-content-container .finding-law-firm-img-desktop img {
    width: 320px;
    margin: auto;
  }

  .injury-law-btn {
    background: #d58641;
    width: 305px;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Open Sans, sans-serif;
    font-size: 19px;
    color: #000;
    letter-spacing: 0;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
  }

  .personal-injury-content-container h2 {
    font-size: 36px;
    padding-bottom: 0;
    margin-bottom: 20px;
    border-bottom: none;
  }

  .gold-line {
    display: block;
    border-bottom: 3px solid #D58641;
    width: 536px;
    margin: auto;
    margin-bottom: 20px;
  }

  .page-form-header {
    width: 465px;
    margin: auto;
    padding-top: 10px;
  }

  .page-form-header p {
    font-size: 38px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    line-height: 43px;
  }

  #page-form-outer-container {
    width: 346px;
    margin: auto;
  }

  .flex-input select {
    width: 343px;
  }

  .privacy-policy-content-container {
    width: 346px;
    margin: auto;
  }

  .homepage-form-container {
    background: none;
    padding-bottom: 40px;
    width: 465px;
    margin-left: auto;
  }

  .homepage-bottom-container {
    background-image: url("https://media-personal-injury-site.s3.amazonaws.com/dev/homepage/form.png");
    background-color: #203A42;
    background-position-x: -100px;
    background-repeat: no-repeat;
  }

  .torts-flex-container {
    display: flex;
    width: 700px;
    margin: auto;
  }

  .personal-injury-torts-icon-container {
    padding-bottom: 30px;
    width: 50%;
  }

  .consumer-product-container {
    margin: auto;
  }

  .top-flex {
    padding-top: 20px;
  }

  .malpractice-img img {
    width: 142px;
  }

  .personal-injury-icon-title {
    width: 225px;
    margin: auto;
  }
}
@media screen and (min-width: 800px) {
  .injury-firm-title {
    width: 65%;
  }
}
@media screen and (min-width: 925px) {
  .injury-firm-title {
    width: 70%;
  }
}
@media screen and (min-width: 1000px) {
  .injury-law-desktop-hero-container {
    background: #203A42;
  }

  .mega-menu {
    width: 60%;
  }

  .injury-law-homepage-hero {
    max-width: 1200px;
    margin: auto;
    background-image: none;
    background-color: transparent;
  }

  .desktop-background {
    background-image: url("https://media-personal-injury-site.s3.amazonaws.com/dev/homepage/HeroDesktop.png");
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 490px;
    margin: auto;
  }

  .homepage-desktop-flex {
    max-width: 1200px;
    margin: auto;
    display: flex;
  }

  .homepage-desktop-flex-reverse {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
  }

  .finding-law-firm-desktop-content {
    width: 50%;
    padding-right: 50px;
  }

  .finding-law-firm-desktop-content-right {
    width: 50%;
    padding-left: 50px;
  }

  .personal-injury-torts-content-container {
    width: 842px;
    margin: auto;
  }

  .homepage-bottom-desktop-container {
    background-color: #203a42;
  }

  .homepage-bottom-container {
    max-width: 1200px;
    margin: auto;
    background-position-x: 0;
  }

  .torts-desktop-flex-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
  }

  .dog-bites-container {
    position: relative;
    top: 30px;
  }

  .assault-battery-container {
    position: relative;
    top: 18px;
  }

  .desktop-row-flip {
    flex-flow: row-reverse;
    width: 550px;
  }

  .bottom-torts-flex {
    width: 905px;
  }

  .ambulance-liability-container {
    width: 114%;
  }

  .consumer-product-container {
    margin: auto;
    width: 56%;
  }

  .top-flex {
    width: 550px;
  }
}
@media screen and (min-width: 1275px) {
  .desktop-background {
    background-position-x: 95px;
  }
}

/*# sourceMappingURL=personal-injury.css.map */
