<header>
          <div class="desktop-header-top">
            <div class="header-top">
                <div class="site-branding">
                    <div class="site-logo">
                        <a href="/">
                            <img src="https://media-buca.s3.amazonaws.com/dev/homepage/buca-logo.png" alt="Buca di Beppo Italian Resturant Logo">
                        </a>
                    </div>
                </div>
                
                <div class="site-navigation">
                    <div id="store-locator">
                        <div class="map-marker">
                            <img src="https://media-buca.s3.amazonaws.com/dev/homepage/map-marker.png" alt="map marker icon">
                        </div>
                        <div class="location-indicator">
                            <a href="javascript:void(0);" class="toggle-location-detail" data-store-code="0821">Celebration - <span>Kissimmee</span></a>
                            <a href="javascript:void(0);" class="toggle" rel="nofollow" title="Click to find a location">[Change]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

        <div class="desktop-menu-options-container">
            <div class="desktop-menu-flex">
                <div class="desktop-menu-option">
                    <a href="https://www.bucadibeppo.com/menu/" title="View the Menu">Menu</a>
                </div>
                <div class="desktop-menu-option">
                    <a href="https://locations.bucadibeppo.com/" title="Browse Locations">Locations</a>
                </div>
                <div class="desktop-menu-option">
                    <a href="https://www.bucadibeppo.com/catering/" title="Order Catering">Catering</a>
                </div>
                <div class="desktop-menu-option">
                    <a href="https://www.bucadibeppo.com/specials/" title="View Specials">Specials</a>
                </div>
                <div class="desktop-menu-option">
                    <a href="https://www.bucadibeppo.com/private-events/" title="Book Your Group Event">Groups</a>
                </div>
                <div class="desktop-menu-option">
                    <a href="https://www.bucadibeppo.com/gift-cards/" title="Buy Gift Cards">Gift Cards</a>
                </div>
                <div class="desktop-menu-option">
                    <a href="https://www.bucadibeppo.com/eclub/" title="Join Our eClub">EClub</a>
                </div>
            </div>
        </div>

     <div class="header-bottom">
         <div class="mobile-nav">
            <div class="main-nav">
                <div class="hamburger-icon" onclick='openNav()'>
                    <img id="mobile-menu-dynamic" src="https://media-buca.s3.amazonaws.com/dev/homepage/hamburger-icon.png" alt="hamburger icon">
                </div>
                <div class="menu-container">
                    <a href="/menu/" title="View Our Menu">Menu</a>
                </div>
                <div class="reserve-container">
                    <a href="/reservations/" title="Make Reservations">Reserve</a>
                </div>
                <div class="order-online-container">
                    <a href="/online-ordering/" title="Order To Go">Order</a>
                </div>
            </div>
         </div>
         <div class="desktop-nav">
            <div class="desktop-nav-inner-container">
                <div class="reserve-container-desktop">
                    <a href="/reservations/" title="Make Reservations">Reservations</a>
                </div>
                <div class="order-online-container-desktop">
                    <a href="/online-ordering/" title="Order To Go">Order Online</a>
                </div>
                <div class="catering-container-desktop">
                    <a href="/catering/" title="Order Catering">Order Catering</a>
                </div>
            </div>
         </div>
     </div>

     <div class="header-menu sidenav" id="sidenav">
        <a href="https://locations.bucadibeppo.com/" title="View Locations">
            <div class="menu-wrapper-container">
                <div class="header-menu-item">
                    Locations
                 </div>
            </div>
        </a>
        <a href="https://www.bucadibeppo.com/catering/" title="Order Catering">
            <div class="menu-wrapper-container">
                <div class="header-menu-item">
                    Catering
                </div>
            </div>
        </a>
        <a href="https://www.bucadibeppo.com/specials/" title="View Specials">
            <div class="menu-wrapper-container">
                <div class="header-menu-item" >
                    Specials
                </div>
            </div>
        </a>
        <a href="https://www.bucadibeppo.com/private-events//"title="Book Your Group Event">
            <div class="menu-wrapper-container">
                <div class="header-menu-item" id="settlements-lawsuits-menu-item">
                    Groups
                </div>
            </div>
        </a>
        <a href="https://www.bucadibeppo.com/gift-cards/"title="Buy Gift Cards">
            <div class="menu-wrapper-container">
                <div class="header-menu-item" id="settlements-lawsuits-menu-item">
                    Gift Cards
                </div>
            </div>
        </a>
        <a href="https://www.bucadibeppo.com/eclub/"title="Join Our eClub">
            <div class="menu-wrapper-container">
                <div class="header-menu-item" id="settlements-lawsuits-menu-item">
                    eClub
                </div>
            </div>
        </a>
    </div>
</header> 