 <header> 
   <div class="injury-law-header-desktop"> 
        <div class="injury-firm-header-container">
            <div class="injury-firm-title">
                <p><span class="bold">Injury Law Firm</span> Houston</p>
            </div>
            <div class="mega-menu">
                <div class="dropdown">
                    <div class="mega-menu-container personal-injury-claims-tab">
                        <p>Personal Injury Claims</p>
                    </div>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <div class="mega-menu-container legal-resources-tab">
                        <p>Legal Resources</p>
                    </div>
                    <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                    </div>
                </div>
                <div class="mega-menu-container">
                    <p>Finding a Lawyer</p>
                </div>
                <div class="mega-menu-container">
                    <p>File a Claim</p>
                </div>
            </div>
            <div class="phone-contact-container">
                <div class="call-now">
                    <p>CALL NOW</p>
                </div>
                <div class="phone-number-header">
                    <p>888-123-1234</p>
                </div>
            </div>
            <div class="mobile-hamburger-btn" onclick="openNav()">
                <div class="hamburger-icon">
                    <div class="rectangle-line top-line"></div>
                    <div class="rectangle-line"></div>
                    <div class="rectangle-line"></div>
                </div>
            </div>
        </div>
    </div> 

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="mobile-link" href="#">Personal Injury Claims</a>
        <a class="mobile-link" href="#">Legal Resources</a>
        <a class="mobile-link" href="#">Finding a Lawyer</a>
        <a class="mobile-link" href="#">File a Claim</a>
    </div>
</header> 